// font colour
.fc {
  &-brdGray {
    color: $brdGray !important;
  }

  &-brdOrange {
    color: $brdOrange !important;
  }

  &-brdLhtGray {
    color: $brdLhtGray !important;
  }

  &-gray80 {
    color: $gray80 !important;
  }

  &-gray60 {
    color: $gray60 !important;
  }

  &-gray40 {
    color: $gray40 !important;
  }

  &-gray20 {
    color: $gray20 !important;
  }

  &-gray10 {
    color: $gray10 !important;
  }

  &-lhtGray {
    color: $lhtGray !important;
  }

  &-lhtOrange {
    color: $lhtOrange !important;
  }

  &-gray {
    color: $gray !important;
  }

  &-white {
    color: $white !important;
  }
}

// bg color
.bg {
  &-brdGray {
    color: $brdGray !important;
  }

  &-brdOrange {
    color: $brdOrange !important;
  }

  &-brdLhtGray {
    color: $brdLhtGray !important;
  }

  &-gray80 {
    color: $gray80 !important;
  }

  &-gray60 {
    color: $gray60 !important;
  }

  &-gray40 {
    color: $gray40 !important;
  }

  &-gray20 {
    color: $gray20 !important;
  }

  &-gray10 {
    color: $gray10 !important;
  }

  &-lhtGray {
    color: $lhtGray !important;
  }

  &-lhtOrange {
    color: $lhtOrange !important;
  }

  &-gray {
    color: $gray !important;
  }

  &-white {
    color: $white !important;
  }
}
