* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

.cont-inner {
  margin-top: 216px;

  .tit-div {
    margin-bottom: 48px;

    &:has(.f-body2-b) {
      margin-bottom: 72px;
    }

    .f-body2-b {
      margin-top: 24px;
    }
  }
}

.tit-wrap + .cont-inner {
  margin-top: 144px;
}

.gray-bg-box {
  padding: 48px;
  border-radius: 8px;
  background: $lhtGray;

  &:has(.info-txt) {
    margin-top: 72px;
  }

  .dot-flex-box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;

    .dot-txt {
      position: relative;
      padding-left: 11px;
      width: 50%;
      color: $gray80;

      &:before {
        display: block;
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: $gray80;
      }
    }
  }

  .info-txt {
    position: relative;
    padding-left: 24px;
    background: url("/images/icon-info-gray.png") no-repeat left top 3px;
  }
}

.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  &.submit {
    margin-top: 144px;
  }
}

.color-btn {
  padding: 21px 96px;
  color: $white;
  font-size: 18px;
  line-height: 160%;
  border-radius: 4px;
  border: 0;

  &.orange {
    background: $brdOrange;
  }
}
