* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
dl,
dt,
dd,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}


#wrap {
  position: relative;
  width: 100%;
  height: 100%;
}


.inner {
  width: 1365px;
  margin: 0 auto;
}