header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9;
  height: 120rem;
  background-color: $white;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1640rem;
    height: 100%;
  }

  .nav {
  }
}

#skipNavi a {
  position: fixed;
  top: -9999px;
  z-index: 9999;
  background: #e31d1a;
  color: #fff;
  text-align: center;

  &:focus {
    top: 0;
  }
}
