// --- reset ---
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input, select, textarea {
  border: none;
  border-radius: 0;
}


// --- input ---
.form-group {
  display: flex;
  gap: 8px;
}

.form-input {
  width: 680px;
  height: 64px;
  border: 1px solid #D0D3D4;
  border-radius: 4px;
  overflow: hidden;

  input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    color: #3B4951;

    &::placeholder {
      color: #ABB0B3;
    }
  }

  &:has(input:focus) {
    border: 1px solid #3B4951;
  }
  &:has(input:disabled) {

  }
}

.form-select {
  width: 444px;
  height: 64px;
  border: 1px solid #D0D3D4;
  border-radius: 4px;
  overflow: hidden;

  select {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    color: #3B4951;
    cursor: pointer;

    &::placeholder {
      color: #ABB0B3;
    }
  }

  &:has(select:focus) {
    border: 1px solid #3B4951;
  }
  &:has(select:disabled) {

  }
}

.form-textarea {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 680px;
  height: 400px;
  padding: 20px 10px 20px 20px;
  border: 1px solid #D0D3D4;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;

  .bytes {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;

    .byte {
      font-size: 12px;
      font-weight: 700;
      line-height: 160%;
      color: #B0B7BB;

      &:has(.current) {
        color: #3B4951;
      }
    }
  }

  textarea {
    width: 100%;
    height: 100%;
    padding-right: 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    color: #3B4951;

    &::placeholder {
      color: #ABB0B3;
    }

    &::-webkit-scrollbar {
      width: 4px; background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      width: 4px; background: #D0D3D4; border-radius: 100px;
    }
  }

  &:has(textarea:focus) {
    border: 1px solid #3B4951;
  }
}

.btn2 {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 64px;
}


// --- data-form ---
.data-form {
  display: flex;
  flex-direction: column;
  gap: 46px;

  .row {

    .th {
      margin-bottom: 16px;

      .tit {
        font-size: 18px;
        font-weight: 800;
        line-height: 160%;
        color: #3B4951;
      }

      .required {
        flex-shrink: 0;
        margin-left: 2px;
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
        color: #E54E2B;
      }

      &:has(.required) {
        display: flex;
        align-items: flex-start;
      }
    }
  }
}