// ---- input ----- //
.error {
  display: inline-block;
  margin-top: 10rem;
  font-family: "NanumSquareB";
  font-size: 16rem;
  font-weight: 700;
  line-height: 160%;
  color: red;
}

.form-group {
  display: flex;
  align-items: flex-end;
  gap: 8rem;
}

.form-input {
  width: 680rem;
  height: 64rem;
  border: 1px solid $gray20;
  border-radius: 4rem;
  overflow: hidden;

  input {
    width: 100%;
    height: 100%;
    padding: 0 20rem;
    font-family: "NanumSquareB";
    font-size: 16rem;
    font-weight: 800;
    line-height: 160%;
    color: $brdGray;

    &::placeholder {
      color: $gray40;
    }
  }

  &:has(input:focus) {
    border: 1px solid $brdGray;
  }
  &:has(input:disabled) {
  }
  &:not(:has(input:placeholder-shown)) {
    border: 1px solid $brdGray;
  }
}

.form-select {
  width: 444rem;
  height: 64rem;
  border: 1px solid $gray20;
  border-radius: 4rem;
  overflow: hidden;

  select {
    width: 100%;
    height: 100%;
    padding: 0 20rem;
    font-family: "NanumSquareB";
    font-size: 16rem;
    font-weight: 800;
    line-height: 160%;
    color: $brdGray;
    cursor: pointer;

    &::placeholder {
      color: $gray40;
    }
  }

  &:has(select:focus) {
    border: 1px solid $brdGray;
  }
  &:has(select:disabled) {
  }
}

.form-textarea {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 680rem;
  height: 400rem;
  padding: 20rem 10rem;
  border: 1px solid $gray20;
  border-radius: 4rem;
  background-color: $white;
  overflow: hidden;

  .bytes {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20rem;

    .byte {
      font-size: 12rem;
      font-weight: 700;
      line-height: 160%;
      color: $brdLhtGray;

      &:has(.current) {
        color: $brdGray;
      }
    }
  }

  textarea {
    width: 100%;
    height: 100%;
    padding-right: 6rem;
    padding-left: 10rem;
    font-family: "NanumSquareB";
    font-size: 16rem;
    font-weight: 800;
    line-height: 160%;
    color: $brdGray;

    &::placeholder {
      color: $gray40;
    }

    &::-webkit-scrollbar {
      width: 4rem;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      width: 4rem;
      background: $gray20;
      border-radius: 100rem;
    }
  }

  &:has(textarea:focus) {
    border: 1px solid $brdGray;
  }

  &:not(:has(textarea:placeholder-shown)) {
    border: 1px solid $brdGray;
  }
}

.form-radio {
  display: flex;

  input {
    flex-shrink: 0;
    width: 20rem;
    height: 20rem;
    // vertical-align: middle;
    appearance: none;
    background: url("/images/icon-radio-off.svg") no-repeat top left / 20rem
      auto;
    cursor: pointer;

    &:checked {
      background-image: url("/images/icon-radio-on.svg");
    }

    & + label {
      padding-left: 8rem;
      cursor: pointer;
    }
  }
}

// ---- button ----- //
.btn-wrap {
  display: flex;
  justify-content: center;

  &:has(.secondary-btn) {
    margin-top: 144rem;
  }

  .secondary-btn {
    height: 72rem;
    padding: 20rem 96rem;
    font-family: "NanumSquareB";
    font-size: 18rem;
    font-weight: 700;
    line-height: 160%;
    color: $white;
    border-radius: 4rem;
    background-color: $brdOrange;
  }
}

.info-btn {
  position: relative;
  color: $brdOrange;
  padding-left: 24rem;
  background: url(/images/icon-mark-orange.svg) no-repeat top 3rem left / 18rem
    auto;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: calc(100% + 4rem);
    left: 0;
    height: 1px;
    background-color: $brdOrange;
  }
}

// ---- data-form ----- //
.input-wrap {
  .th {
    margin-bottom: 16rem;

    .tits {
      display: flex;
    }

    .tit {
      font-family: "NanumSquareEB";
      font-size: 18rem;
      font-weight: 800;
      line-height: 160%;
      color: $brdGray;
    }

    .info {
      font-family: "NanumSquareB";
      font-size: 16rem;
      font-weight: 700;
      line-height: 160%;
      color: $gray40;
    }

    .required {
      flex-shrink: 0;
      margin-left: 2rem;
      font-family: "NanumSquareB";
      font-size: 16rem;
      font-weight: 700;
      line-height: 150%;
      color: $brdOrange;
    }

    &:has(.required) {
      display: flex;
      align-items: flex-start;
    }
    &:has(.tits, .info) {
      justify-content: space-between;
    }
  }
}

.form-wrap {
  display: flex;
  flex-direction: column;
  gap: 46rem;
}
