/* input */
*:focus {
  outline: none;
}

.form-flexbox {
  display: flex;
  align-items: flex-end;
  gap: 8px;

  .input-wrap input[type="text"] {
    width: 100%;
  }

  .input-wrap label {
    white-space: nowrap;
  }
}

.input-wrap + .form-flexbox {
  margin-top: 48px;
}

.input-wrap {
  margin-top: 48px;
  width: 100%;

  &:first-child {
    margin-top: 0;
  }

  &.horizontal {
    display: flex;
    align-items: center;
    column-gap: 20px;

    .input-tit {
      margin-bottom: 0;
    }

    input {
      width: 400px;
    }
  }

  .input-tit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    label {
      font-size: 18px;
      font-family: $ebold;
      color: $brdGray;
    }

    span {
      position: relative;
      top: -4px;
      color: #e54e2b;
      font-size: 16px;
    }

    .info-txt {
      font-size: 14px;
      color: $gray40;
    }
  }

  .ex-txt {
    margin-bottom: 16px;
    color: $gray40;
  }

  /* input */
  input[type="text"] {
    padding: 0 20px;
    width: 680px;
    height: 64px;
    font-size: 16px;
    color: $brdGray;
    box-sizing: border-box;
    border: 1px solid $gray20;
    border-radius: 4px;

    &::placeholder {
      font-weight: bold;
      color: $gray40;
    }

    &:focus {
      border: 1px solid $brdGray;
    }
  }

  /* textarea */
  .textarea-wrap {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 23px 20px;
    width: 680px;
    height: 400px;
    border: 1px solid $gray20;
    border-radius: 4px;
    box-sizing: border-box;

    &.focus {
      border: 1px solid $brdGray;
    }

    textarea {
      overflow-y: auto;
      padding: 0 10px 0 0;
      width: 100%;
      height: 100%;
      font-size: 16px;
      line-height: 150%;
      color: $brdGray;
      border: 0;
      resize: none;

      &::-webkit-scrollbar {
        width: 4px;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: $gray20;
        border-radius: 2px;
      }

      &::placeholder {
        font-weight: bold;
        color: $gray40;
      }
    }

    .check-byte {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 3px;
      margin: 20px 0 0 0;
      font-size: 12px;
      text-align: right;
      color: #b0b7bb;

      p {
        margin: 0;
      }

      .r-byte {
        color: $brdGray;
      }

      .l-byte {
        color: $brdLhtGray;

        span {
          color: $brdLhtGray;
        }
      }
    }
  }

  /* select */
  .form-select {
    width: 100%;
    max-width: 680px;

    select {
      position: relative;
      padding: 20px;
      width: 100%;
      height: 64px;
      font-size: 16px;
      border: 1px solid $gray20;
      border-radius: 4px;
      // -webkit-appearance: none;
      // -moz-appearance: none;
      // appearance: none;

      &:after {
        display: block;
        content: "";
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        font-size: 16px;
        color: #000;
        width: 14px;
        height: 7px;
        z-index: 100;
      }
    }
  }
}

/* radio */
.input-table {
  .form-radio-box {
    margin-top: 48px;
    width: 680px;

    &:first-child {
      margin-top: 0;
    }
  }
}

input[type="radio"] {
  position: relative;
  top: 5px;
  appearance: none;
  margin: 0 8px 0 0;
  width: 20px;
  height: 20px;
  background: url("/images/icon-radio.svg") no-repeat left top/20px 20px;
  border: 0;
}
input[type="radio"]:checked {
  background: url("/images/icon-radio-on.svg") no-repeat left top/20px 20px;
}

.form-radio-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  align-items: flex-end;

  .input-wrap {
    margin-top: 0;
    width: calc((100% - 20px) / 2);

    .input-tit {
      margin-bottom: 24px;
    }
  }
}

/* file */
.form-file {
  display: flex;
  align-items: center;
  column-gap: 8px;

  .file-input {
    display: inline-block;
    width: 474px;
    height: 64px;
    border: 1px solid $gray20;
    border-radius: 4px;
  }

  input[type="file"] {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 482px);
    height: 64px;
    background: $brdGray;
    border-radius: 4px;

    span {
      padding-left: 27px;
      color: $white;
      background: url("/images/icon-file.png") no-repeat left center;
    }
  }
}

.file-list {
  margin-top: 16px;
  li {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 4px;
    line-height: 160%;

    span {
      text-decoration: underline;
    }

    .delete-btn {
      padding: 0;
      width: 18px;
      height: 18px;
      border: 0;
      background: url("/images/btn-file-delete.svg") no-repeat left center;
    }
  }
}

/* checkbox */
.form-checkbox {
  padding: 14px 28px;
  border: 1px solid $gray20;
  border-radius: 4px;

  &:has(input[type="checkbox"]:checked) {
    border: 1px solid $brdGray;
  }

  input[type="checkbox"] {
    position: relative;
    top: 8px;
    appearance: none;
    margin: 0 8px 0 0;
    width: 24px;
    height: 30px;
    background: url("/images/icon-checkbox.svg") no-repeat left top 5px/24px
      24px;
    border: 0;
  }
  input[type="checkbox"]:checked {
    background: url("/images/icon-checkbox-on.svg") no-repeat left top 5px/24px
      24px;
  }

  label {
    position: relative;
    top: -8px;
    color: $gray40;

    &:has(input[type="checkbox"]:checked) {
      color: $brdGray;
    }
  }
}

.form-info-txt {
  margin-top: 16px;

  .f-desc-b {
    position: relative;
    padding-left: 11px;
    margin-top: 8px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 3px;
      height: 3px;
      background: $gray60;
      border-radius: 50%;
    }
  }
}

/* 개인정보 동의 */
.agree-wrap {
  .input-wrap {
    margin-top: 16px;
  }

  .agree-con {
    padding: 10px;
    height: 180px;
    border: 1px solid $gray10;
    border-radius: 4px;
    background: rgba(227, 228, 229, 0.2);

    .scroll-area {
      overflow-y: auto;
      padding-right: 10px;
      height: 100%;
      color: $gray60;
      white-space: pre-line;
      line-height: 28px;

      &::-webkit-scrollbar {
        width: 4px;
        background: transparent;
        border-radius: 2px;
      }
      &::-webkit-scrollbar-thumb {
        width: 4px;
        background: $gray20;
        border-radius: 2px;
      }
    }
  }

  .agree-txt {
    margin-top: 16px;
    color: $gray80;
  }
}
