body {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.sub-visual {
  position: relative;
  width: 100%;
  height: 550px;

  h2 {
    margin: 0;
    padding-top: 230px;
    text-align: center;
    color: $white;
  }
}

.report-wrap {
  padding: 144px 0;

  .inner {
    margin: 0 auto;
    width: 1365px;
  }

  .f-title1-eb {
    text-align: center;
  }
}
