//mediaquery
@mixin mobile() {
  @media all and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet() {
  @media all and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop() {
  @media all and (max-width:#{$desktop}) {
    @content;
  }
}

@mixin over-desktop() {
  @media all and (min-width:#{$desktop}) {
    @content;
  }
}

// transtion
@mixin dynamic-transition($properties...) {
  $transitions: ();

  @each $property in $properties {
    @if $transitions == () {
      $transitions: #{$property} 0.2s ease;
    } @else {
      $transitions: #{$transitions}, #{$property} 0.2s ease;
    }
  }

  transition: #{$transitions};
}

// scrollbar
@mixin custom-scrollbar() {
  &::-webkit-scrollbar {
    width: 4rem;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    width: 4rem;
    background: $gray20;
    border-radius: 100rem;
  }
}
