.sub-vis {
	height: 550px;
	position: relative;

	.sub-tit {
		color: #fff;
		position: absolute;
		left: 50%;
		top: 230px;
		transform: translateX(-50%);
	}

	.lnb {
		position: absolute;
		top: 50%;
		right: 140px;
		transform: translateY(-50%);

		a {
			display: block;
			color: #fff;
			+ a {
				margin-top: 16px;
			}
			&.on {
				color: #E54E2B;
			}
		}
	}
}

.sub-wrap {
	margin-top: 144px;

	.top-copy {
		text-align: center;
		margin-bottom: 144px;
	}

	.gray-box {
		background: #F8F8F8;
		margin-top: 48px;
		padding: 48px;
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}

}

// 제보가이드
.guide {
	.sec {
		+ .sec {
			margin-top: 216px;
		}
		> .tit {
			margin-bottom: 48px;
		}
		ul.card {
			display: flex;
			flex-wrap: wrap;
			gap: 72px 24px;

			li {
				.img {
					width: 438px;
					height: 500px;
					border-radius: 8px;
					overflow: hidden;
					margin-bottom: 24px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}

		.step {
			margin: 72px 0 146px;
			img {
				width: 100%;
			}
		}
		.list {
			display: flex;
			flex-wrap: wrap;
			gap: 96px 24px;
			
			dl {
				width: 438px;
				border-top: 1px solid #E3E4E5;
				dt {
					margin: 24px 0 16px;
					color: #E54E2B;
				}
				dd {
					line-height: 160%;
				}
			}
		}

		.noti {
			margin-top: 216px;
			
			.gray-box {
				.dot-txt {
					position: relative;
					display: flex;
					align-items: center;
					gap: 8px;
					width: 625px;
					color: #606B72;

					&::before {
						content: "";
						width: 4px;
						height: 4px;
						background: #606B72;
						display: block;
						border-radius: 50px;
					}
				}
			}
		}
	}
}


// 온라인 제보
.online {
	.gray-box {
		p {
			display: flex;
			gap: 8px;
			color: #606B72;
			&::before {
				content: "";
				width: 16px;
				height: 16px;
				background: url("../../public/images/ico-noti.png") no-repeat;
				display: block;
				transform: translateY(3px);
			}
		}
	}


	ul {
		margin-top: 146px;
		li {
			display: flex;

			& + li {
				margin-top: 216px;
			}

			.left {
				width: calc(100% - 680px);
				span {
					color: #E54E2B;
					border: 1px solid #E54E2B;
					display: inline-block;
					border-radius: 50px;
					padding: 6px 24px;
					margin-bottom: 24px;
				}
				a {
					color: #E54E2B;
					border-bottom: 1px solid #E54E2B;
					padding-bottom: 3px;
					margin-top: 50px;
					display: inline-flex;
					gap: 4px;
					&::before {
						content: "";
						width: 18px;
						height: 18px;
						background: url("../../public/images/ico-noti-red.png") no-repeat;
						background-size: cover;
						display: block;
						transform: translateY(3px);
					}
				}
			}

			.right {
				width: 680px;
				.form-input {
					textarea {
						height: 357px;
					}
				}
			}
		}
	}

}















