// 아코디언
.accordion-wrap {
  width: 500px;

  .list {
    margin-bottom: 20px;
    list-style: none;

    .title {
      margin: 0;
      padding: 10px;
      width: 100%;
      text-align: left;
      background-color: #ccc;
    }

    .toggle-area {
      margin: 0;
      max-height: 200px;
      overflow-y: auto;
      background-color: bisque;

      .content {
        margin: 0;
      }
    }
  }
}

// 스크롤트리거
.scroll-trigger-test-wrapper {
  .box {
    width: 200px;
    height: 200px;
    background-color: blue;
  }
}
