.f-tit {
  &1 {
    font-family: "NanumSquareEB";
    font-size: 40rem;
    font-weight: 800;
    line-height: 150%;
    color: $brdGray;

    @include tablet() {
      font-size: 20rem;
    }
  }

  &2 {
    font-family: "NanumSquareEB";
    font-size: 36rem;
    font-weight: 800;
    line-height: 150%;
    color: $brdGray;

    @include tablet() {
      font-size: 24rem;
    }
  }

  &3 {
    font-family: "NanumSquareEB";
    font-size: 28rem;
    font-weight: 800;
    line-height: 150%;
    color: $brdGray;

    @include tablet() {
      font-size: 22rem;
    }
  }

  &4 {
    font-family: "NanumSquareB";
    font-size: 28rem;
    font-weight: 700;
    line-height: 150%;
    color: $brdGray;

    @include tablet() {
      font-size: 22rem;
    }
  }

  &5 {
    font-family: "NanumSquareEB";
    font-size: 24rem;
    font-weight: 800;
    line-height: 150%;
    color: $brdGray;

    @include tablet() {
      font-size: 16rem;
    }
  }
}

.f-sub {
  &1 {
    font-family: "NanumSquareEB";
    font-size: 56rem;
    font-weight: 800;
    line-height: 150%;
    color: $brdGray;

    @include tablet() {
      font-size: 28rem;
    }
  }

  &2 {
    font-family: "NanumSquareEB";
    font-size: 22rem;
    font-weight: 800;
    line-height: 110%;
    color: $brdGray;

    @include tablet() {
      font-size: 18rem;
    }
  }
}

.f-bdy {
  &1 {
    &-eb {
      font-family: "NanumSquareEB";
      font-size: 18rem;
      font-weight: 800;
      line-height: 160%;
      color: $brdGray;
    }
    &-b {
      font-family: "NanumSquareB";
      font-size: 18rem;
      font-weight: 700;
      line-height: 160%;
      color: $brdGray;
    }
    &-r {
      font-family: "NanumSquareR";
      font-size: 18rem;
      font-weight: 400;
      line-height: 160%;
      color: $brdGray;
    }

    @include tablet() {
      font-size: 14rem;
    }
  }

  &2 {
    &-eb {
      font-family: "NanumSquareEB";
      font-size: 16rem;
      font-weight: 800;
      line-height: 160%;
      color: $brdGray;
    }
    &-b {
      font-family: "NanumSquareB";
      font-size: 16rem;
      font-weight: 700;
      line-height: 160%;
      color: $brdGray;
    }
    &-r {
      font-family: "NanumSquareR";
      font-size: 16rem;
      font-weight: 400;
      line-height: 160%;
      color: $gray40;
    }

    @include tablet() {
      font-size: 14rem;
    }
  }
}

.f-desc {
  &1 {
    font-family: "NanumSquareEB";
    font-size: 14rem;
    font-weight: 800;
    line-height: 160%;
    color: $gray60;

    @include tablet() {
      font-size: 12rem;
    }
  }

  &2 {
    font-family: "NanumSquareB";
    font-size: 16rem;
    font-weight: 700;
    line-height: 160%;
    color: $gray60;

    @include tablet() {
      font-size: 12rem;
    }
  }
}

.f-anony {
  font-size: 100rem;
  font-weight: 700;
  line-height: 120%;
  color: $gray60;

  @include tablet() {
    font-size: 40rem;
  }
}

.f-exBold {
  font-weight: 800 !important;
}

.f-bold {
  font-weight: 700 !important;
}

.f-reg {
  font-weight: 400 !important;
}
