$brdGray: #3b4951;
$brdOrange: #e54e2b;
$brdLhtGray: #b0b7bb;
$gray80: #606b72;
$gray60: #858e93;
$gray40: #abb0b3;
$gray20: #d0d3d4;
$gray10: #e3e4e5;
$lhtGray: #f8f8f8;
$lhtOrange: #fef8f7;
$gray: #e7e8ea;
$white: #fff;

$desktop: 1920px;
$tablet: 1023px;
$mobile: 600px;
